nav(class="nav-extended bcolor-primary")
	div(class="nav-background")
	div(class="nav-wrapper db")
		a(href="/" class="brand-logo").
			Stewp
		a(href="#" data-activates="nav-mobile" class="button-collapse").
			#[i(class="material-icons") menu]
		ul(class="bt hide-on-med-and-down")
			li
				a(href="/") Inicio
			li
				a(href="/platform") Plataforma
			li
				a(href="/signup") Registrarme
			li
				a(href="/signin") Iniciar Sesión
		div(class="nav-header de")
			h1!= title
			div(class="ge")!= subtitle
	div(class="categories-wrapper bcolor-primary-dark")
		div(class="categories-container pin-top")
			ul(class="categories db")
				li(class="")
					a(href="#id").
						Para ti
				li()
					a(href="#id").
						Mejor valorados
				li()
					a(href="#id").
						Ultimos Agregados
ul(class="side-nav" id="nav-mobile" style="transform: translateX(-100%);")
	li
		a(href="/") Inicio
	li
		a(href="/platform") Plataforma
	li
		a(href="/signup") Registrarme
	li
		a(href="/signin") Iniciar Sesión