extends ./layout.pug
block container
	div(class="section white")
		div(class="container")
			div(class="panel panel-default")
				div(class="panel-body")
					form()
						div(class="row inputs")
							div(class="input-field col l3 m3 s12")
								select(name="location" id="location")
									option(value="" disabled selected) Elige una Ubicación
									option(value="Comalcalco") Comalcalco
									option(value="Villahermosa") Villahermosa
									option(value="Merida") Merida
								label(for="location").
									Ubicación
							div(class="input-field col l3 m3 s12")
								select(name="money" id="money")
									option(value="" disabled selected) Elige un Presupuesto
									option(value="50") $ 50.00 MXN
									option(value="100") $ 100.00 MXN
									option(value="200") $ 200.00 MXN
									option(value="300") $ 300.00 MXN
									option(value="500") $ 500.00 MXN
								label(for="money").
									Presupuesto
							div(class="input-field col l3 m3 s12")
								select(name="order" id="order")
									option(value="" disabled selected) Elige el Servicio
									option(value="home") A Domicilio
									option(value="takeout") Para llevar
									option(value="eating") En restaurante
								label(for="order").
									Elige el Servicio
							div(class="input-field col l3 m3 s12 center-align")
								button(class="btn waves-effect waves-light deep-orange darken-1" type="submit" name="action").
									Buscar #[i(class="material-icons right" ) search]
	div(class="section white")
		div(class="container")
			div(class="row")
				div(class="col l4 m4 s12")
					div(class="card")
						div(class="card-image box-card")
							div(class="row")
								div(class="col l8 offset-l2 m8 offset-m2 s10 offset-s1 center-align")
									span(class="cocina-title grey-text text-lighten-4").
										Alitas y Pollo
							span(class="restaurante-title card-title grey-text text-lighten-4").
								El Pollo Gigante
						div(class="card-content grey lighten-5")
							p().
								Descripción del Restaurante
							small(class="working-hours").
								Horarios 10:00 AM a 6:00 PM Lunes a Domingo
						div(class="card-action grey lighten-5")
							a(href="#").
								#[i(class="material-icons") thumb_up] Favorito
							a(href="#").
								#[i(class="material-icons") shopping_cart] Ordenar
				div(class="col l4 m4 s12")
					div(class="card")
						div(class="card-image box-card")
							div(class="row")
								div(class="col l8 offset-l2 m8 offset-m2 s10 offset-s1 center-align")
									span(class="cocina-title grey-text text-lighten-4").
										Sandwiches y Tortas
							span(class="restaurante-title card-title grey-text text-lighten-4").
								Manolín
						div(class="card-content grey lighten-5")
							p().
								Descripción del Restaurante
							small(class="working-hours").
								Horarios 10:00 AM a 2:00 PM Lunes a Sabado
						div(class="card-action grey lighten-5")
							a(href="#").
								#[i(class="material-icons") thumb_up] Favorito
							a(href="#").
								#[i(class="material-icons") shopping_cart] Ordenar
				div(class="col l4 m4 s12")
					div(class="card")
						div(class="card-image box-card")
							div(class="row")
								div(class="col l8 offset-l2 m8 offset-m2 s10 offset-s1 center-align")
									span(class="cocina-title grey-text text-lighten-4").
										Mexicana
							span(class="restaurante-title card-title grey-text text-lighten-4").
								Las Cazuelitas
						div(class="card-content grey lighten-5")
							p().
								Descripción del Restaurante
							small(class="working-hours").
								Horarios 10:00 AM a 6:00 PM Lunes a Domingo
						div(class="card-action grey lighten-5")
							a(href="#").
								#[i(class="material-icons") thumb_up] Favorito
							a(href="#").
								#[i(class="material-icons") shopping_cart] Ordenar
						