extends ./layout.pug
block container
	div(class="section white")
		div(class="container")
			div(class="row")
				div(class="col l12 s12")
					h3(class="center-align grey-text text-darken-1").
						Servicios
				div(class="col l6 Eat")
					h4(class="left-align title-eat").
						Stewp Eat
					h5(class="grey-text text-darken-1").
						El menú de tu restaurante online
					p(class="grey-text text-darken-1").
						Busca tu restaurante favorito y accede al menú para consultar precios y promociones; además de poder realizar pedidos directamente desde cualquier dispositivo móvil.
					div(class="col l4 m4 s12")
						div(class="card-panel bcolor-primary center-align thing-card")
							h5(class="white-text").
								Busca
					div(class="col l4 m4 s12")
						div(class="card-panel bcolor-primary center-align thing-card")
							h5(class="white-text").
								Elige
					div(class="col l4 m4 s12")
						div(class="card-panel bcolor-primary center-align thing-card")
							h5(class="white-text").
								Disfruta
				div(class="col l6 kitchen")
					h4(class="right-align title-kitchen").
						Stewp Kitchen
					h5(class="right-align grey-text text-darken-1").
						El gestor de restaurante online
					p(class="right-align grey-text text-darken-1").
						Podrás administrar todos los procesos de tu restaurante, tales como el gestionar pedidos a domicilio y en mesa, además de administrar los insumos de cocina, todo a través de nuestro gestor online.
					div(class="col l4 m4 s12")
						div(class="card-panel teal center-align thing-card")
							h5(class="white-text").
								Eficiencia
					div(class="col l4 m4 s12")
						div(class="card-panel teal center-align thing-card")
							h5(class="white-text").
								Calidad
					div(class="col l4 m4 s12")
						div(class="card-panel teal center-align thing-card")
							h5(class="white-text").
								Tiempo
			div(class="row")
				h3(class="center-align grey-text text-darken-1").
					Cocinas
				div(class="center-align")
					div(class="chip cocina").
						Alitas y Pollo
					div(class="chip cocina").
						Árabe
					div(class="chip cocina").
						Café y Dulces
					div(class="chip cocina").
						Carnes
					div(class="chip cocina").
						China
					div(class="chip cocina").
						Desayunos
					div(class="chip cocina").
						Ensaladas
					div(class="chip cocina").
						Hamburguesas
					div(class="chip cocina").
						India
					div(class="chip cocina").
						Italiana
					div(class="chip cocina").
						Mexicana
					div(class="chip cocina").
						Internacional
					div(class="chip cocina").
						Pescados y Mariscos
					div(class="chip cocina").
						Pizzas
					div(class="chip cocina").
						Postres y Repostería
					div(class="chip cocina").
						Sandwiches y Tortas
					div(class="chip cocina").
						Sushi y Japonesa
					div(class="chip cocina").
						Tacos