.bcolor-primary{
	background: rgb(245,104,60) !important;
	/*
		#ee6e73
		rgb(238, 110, 115)
		rgb(244,89,41)
		rgb(245,96,50)
	*/
}

.title-primary{
	color: rgb(238, 110, 115) !important;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 82%;
  }
}

.justify {
	text-align: justify;
}

.bg-color-footer{
	background: #424242 !important;
}

.page-footer{
	margin-top: 0px !important;
}

.red-stewp{
	background: rgb(238, 110, 115) !important;
}

.bcolor-primary-dark{
	background: rgb(245,96,50) !important;
}

.cocina{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

.box-card{
	height: 200px;
	background: #616161;
}


.cocina-title{
    font-size: 23px;
    line-height: 200px;
}

.restaurante-title{
	/*background: rgb(238, 110, 115) !important;*/
	background: #f5683c;
	padding: 5px 15px !important;
}

.panel {
	margin-top: 15px;
	margin-bottom: 10px;
  	background-color: #fff;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  	padding: 15px;
}

.panel-default {
  	border-color: #ddd;
}

.inputs{
	margin-bottom: 0px;
}

.material-icons{
	font-size: 20px !important;
}